* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: auto;
    border: none;
    text-decoration: none;
    caret-color: white;
    color: white;
    outline: none;
}

body {
    background-color: rgb(9, 10, 26);
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: rgb(0, 140, 255);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
  }